.main {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.top_bar {
    display: flex;
}

.table {
    position: relative;
    flex: 1;
    margin: 10px 0 0 -10px;
}

.no_rows {
    padding: 5px 20px;
    color: var(--text-color-disabled);
}

.help {
    max-width: 500px;
}
