.application_NavigationView {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: hsl(0, 0%, 12%);
    border-bottom: solid 2px var(--bg-color);
}

.application_ToolButton input {
    display: none;
}

.application_ToolButton label {
    box-sizing: border-box;
    display: inline-block;
    font-size: 16px;
    height: 100%;
    padding: 0 20px;
    line-height: 40px;
}

.application_ToolButton label:hover {
    color: hsl(200, 25%, 85%);
    background-color: hsl(0, 0%, 16%);
}

.application_ToolButton input:checked + label {
    color: hsl(200, 50%, 85%);
    background-color: hsl(0, 0%, 20%);
}
