.mv-AnimationSelectionComponent {
    margin: 0 10px;

    & > ul {
        height: 100%;
        padding: 0;
        margin: 0;
        overflow: auto;
        list-style-type: none;

        & > li {
            cursor: pointer;
            padding: 2px 5px;

            &:hover {
                color: lighten(@primary-color, 30%);
            }
        }
    }
}
