.mv-ModelViewerComponent {
    display: flex;
    flex-direction: column;
}

.mv-ModelViewerComponent-toolbar {
    display: flex;
    padding: 10px 5px;
}

.mv-ModelViewerComponent-toolbar > * {
    margin: 0 5px;
}

.mv-ModelViewerComponent-main {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.mv-ModelViewerComponent-main > div:nth-child(2) {
    flex: 1;
}