.viewer_model_CharacterClassOptionsView {
    box-sizing: border-box;
    border-left: var(--border);
    border-right: var(--border);
    padding: 0 2px;
}

.viewer_model_CharacterClassOptionsView table {
    table-layout: fixed;
    width: 100%;
}

.viewer_model_CharacterClassOptionsView td:first-child {
    width: 80px;
}

.viewer_model_CharacterClassOptionsView_section_id {
    width: 100%;
}

.viewer_model_CharacterClassOptionsView_body {
    width: 60px;
}

