:root {
    --background-color: hsl(0, 0%, 20%);
    --foreground-color: hsl(0, 0%, 23%);

    --hover-color: hsl(198, 61%, 87%);

    --item-hover-bg: hsl(200, 30%, 30%);

    --border-color: hsl(0, 0%, 25%);
    --border-color-split: hsl(0, 0%, 30%);
    --input-border-color: hsl(0, 0%, 40%);

    --text-color: hsl(0, 0%, 90%);
    --text-color-disabled: hsl(0, 0%, 50%);

    --scrollbar-color: hsl(0, 0%, 17%);
    --scrollbar-thumb-color: hsl(0, 0%, 23%);

    --table-scrollbar-color: hsl(0, 0%, 18%);
    --table-scrollbar-thumb-color: hsl(0, 0%, 22%);
    --table-border-color: var(--input-border-color);

    --dock-border-color: hsl(0, 0%, 17%);
    --dock-tab-color: hsl(0, 0%, 14%);
    --dock-tab-active-color: var(--background-color);
}

/* React Root Element */

#phantasmal_world_root--18Cbi {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

* {
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-color);

    /* Turn off antd animations by turning all animations off. */
    animation-duration: 0s !important;
    transition-duration: 0s !important;
}

::-webkit-scrollbar {
    background-color: var(--scrollbar-color);
}

::-webkit-scrollbar-track {
    background-color: var(--scrollbar-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
}

::-webkit-scrollbar-corner {
    background-color: var(--scrollbar-color);
}

body {
    overflow: hidden; /* Necessary for golden layout. */
}

/* react-virtualized */

#phantasmal_world_root--18Cbi .ReactVirtualized__Grid {
    outline: none;
}

#phantasmal_world_root--18Cbi .ReactVirtualized__Table__headerRow {
    text-transform: none;
}

#phantasmal_world_root--18Cbi .ant-tabs-bar {
    margin: 0;
}

/* golden-layout */

#phantasmal_world_root--18Cbi .lm_header {
    background: var(--dock-border-color);
}

#phantasmal_world_root--18Cbi .lm_goldenlayout {
    background: var(--dock-border-color);
}

#phantasmal_world_root--18Cbi .lm_content {
    background: var(--background-color);
}

#phantasmal_world_root--18Cbi .lm_tab {
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    padding: 0 16px;
    margin: 2px 0 0 0;
    background: var(--dock-tab-color);
    box-shadow: none;
}

#phantasmal_world_root--18Cbi .lm_tab.lm_active {
    background: var(--dock-tab-active-color);
}

#phantasmal_world_root--18Cbi .lm_controls {
    top: 6px;
    right: 6px;
}

.main--RUx7h {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.navbar--MyhJQ {
    display: flex;
    border-bottom: solid 1px var(--border-color-split);
}

.heading_menu--1qB3p {
    flex: 1;
    margin-bottom: -1px !important;
}

.server_select--1Gfga {
    display: flex;
    align-items: center;
    margin: 0 6px;
}

.server_select--1Gfga > span {
    display: inline-block;
    margin-right: 10px;
}

.beta--1ICxw {
    color: #f55656;
    font-weight: bold;
}

.content--3XwnE {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
}

.content--3XwnE > * {
    flex: 1;
    overflow: hidden;
}

.main--2Ye4n.Select > .Select-control {
    cursor: pointer;
    background-color: var(--background-color);
    color: var(--text-color);
    height: 28px;
    border-color: var(--input-border-color);
    border-radius: 0;
}

.main--2Ye4n.Select .Select-control .Select-value .Select-value-label {
    color: white !important;
}

.main--2Ye4n.Select .Select-placeholder,
.main--2Ye4n.Select .Select--single > .Select-control .Select-value {
    line-height: 28px;
}

.main--2Ye4n.Select .Select-input {
    height: 26px;
}

.main--2Ye4n.Select:hover > .Select-control {
    border-color: var(--hover-color);
}

.main--2Ye4n.Select.is-focused > .Select-control {
    background-color: var(--background-color);
    border-color: var(--hover-color);
}

.main--2Ye4n.Select.is-focused:not(.is-open) > .Select-control {
    background-color: var(--background-color);
    border-color: var(--hover-color);
}

.main--2Ye4n.Select > .Select-menu-outer {
    margin-top: 0;
    background-color: var(--background-color);
    border-color: var(--border-color);
}

.main--3Uvyf {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.main--3Uvyf > * {
    margin-top: 10%;
}

.main--3DnNL {
    display: flex;
    align-items: stretch;
    overflow: hidden;
    margin-top: 10px;
}

.main--3DnNL > .ant-tabs {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.main--3DnNL > .ant-tabs > .ant-tabs-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.main--3DnNL > .ant-tabs > .ant-tabs-content > .ant-tabs-tabpane-active {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.main--1yTzy {
    /*
    position: relative; necessary to avoid background and border disappearing while antd animates
    dropdowns in Chrome. No idea why this prevents it...
    */
    position: relative;
    border: solid 1px var(--table-border-color);
    background-color: var(--foreground-color);
}

.main--1yTzy * {
    scrollbar-color: var(--table-scrollbar-thumb-color) var(--table-scrollbar-color);
}

.main--1yTzy ::-webkit-scrollbar {
    background-color: var(--table-scrollbar-color);
}

.main--1yTzy ::-webkit-scrollbar-track {
    background-color: var(--table-scrollbar-color);
}

.main--1yTzy ::-webkit-scrollbar-thumb {
    background-color: var(--table-scrollbar-thumb-color);
}

.main--1yTzy ::-webkit-scrollbar-corner {
    background-color: var(--table-scrollbar-color);
}

.header--3oBh1 {
    user-select: none;
    background-color: hsl(0, 0%, 32%);
    font-weight: bold;
}

.header--3oBh1 .cell--uaFvx {
    border-right: solid 1px var(--table-border-color);
}

.header--3oBh1 .cell--uaFvx.sortable--3mezC {
    cursor: pointer;
}

.header--3oBh1 .cell--uaFvx .sort_indictator--2Fj6o {
    fill: currentColor;
}

.cell--uaFvx {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 5px;
    border-bottom: solid 1px var(--table-border-color);
    border-right: solid 1px hsl(0, 0%, 29%);
}

.cell--uaFvx.last_in_row--1wdip {
    border-right: solid 1px var(--table-border-color);
}

.cell--uaFvx.number {
    justify-content: flex-end;
}

.cell--uaFvx.footer_cell--hp1CL {
    font-weight: bold;
}

.cell--uaFvx.custom--2KZ3a {
    padding: 0;
}

.cell--uaFvx > .cell_text--1xhnS {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cell--uaFvx > .ant-time-picker {
    /* Cover the default borders. */
    margin: -1px;
    height: calc(100% + 2px);
}

/* Make sure the glowing border is entirely visible. */
.cell--uaFvx > .ant-time-picker:hover {
    z-index: 10;
}

.cell--uaFvx > .ant-time-picker input {
    height: 100%;
}

.no_result--1qirM {
    margin: 20px;
    color: var(--text-color-disabled);
}

.main--15NJw {
    flex: 1;
}

.timepicker--3TNt- .ant-time-picker-icon {
    display: none;
}

.main--1OWWf {
    display: flex;
    flex-direction: column;
}

.table--gysaP {
    flex: 1;
}

.sid_col--67D8F {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    height: 20px;
    margin: 0 3px;
}

.main--lAVvc {
    flex: 1;
    display: flex;
    align-items: stretch;
    padding-top: 5px;
}

.main--lAVvc > *:nth-child(2) {
    flex: 1;
    overflow: hidden;
}

.main--3f9gE {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.top_bar--2v9To {
    display: flex;
}

.table--1dGEI {
    position: relative;
    flex: 1;
    margin: 10px 0 0 -10px;
}

.no_rows--2xhai {
    padding: 5px 20px;
    color: var(--text-color-disabled);
}

.help--1iBxm {
    max-width: 500px;
}

.main--PMHDh {
    width: 100%;
    height: 100%;
}

.main--K04cp {
    color: var(--text-color-disabled);
    padding: 5px 0;
}

.main--1mDsQ {
    width: 100%;
    height: 100%;
    padding: 2px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.table--3qQxD {
    border-collapse: collapse;
}

.table--3qQxD th:not([colspan]) {
    width: 65px;
}

.coord_label--1vPLH {
    padding: 0px 5px 0px 10px;
}

.coord--3rpxk {
    width: 100px !important;
}

.coord--3rpxk input {
    text-align: right;
    padding-right: 24px !important;
}

.main--3k1eY {
    display: flex;
    flex-direction: column;
}

.content--1qDGD {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.main--3JlQO {
    height: 100%;
    width: 100%;
    padding: 2px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.main--3JlQO table {
    border-collapse: collapse;
    width: 100%;
}

.main--3JlQO textarea {
    font-family: 'Courier New', Courier, monospace
}

.main--L1MNj {
    display: flex;
    padding: 6px 3px;
}

.main--L1MNj > * {
    margin: 0 3px !important;
}

.main--2oBYr {
    height: 100%;
    overflow: auto;
}

.main--2oBYr > table {
    margin: 5px;
}

.main--2zgMa {
    margin: 0 10px;
}

.main--2zgMa > ul {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    list-style-type: none;
}

.main--2zgMa > ul > li {
    cursor: pointer;
    padding: 2px 5px;
    white-space: nowrap;
}

.main--2zgMa > ul > li.selected--Lqf5B {
    color: var(--hover-color);
}

.main--2zgMa > ul > li:hover {
    color: var(--hover-color);
}

.main--1kRpw {
    margin: 0 10px;
}

.model--3xehj {
    cursor: pointer;
}

.model--3xehj.selected--27oAW {
    color: var(--hover-color);
}

.model--3xehj:hover {
    color: --hover-color;
}

.main--2o5lv {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.toolbar--2QeFN {
    display: flex;
    padding: 10px 5px;
    align-items: center;
}

.toolbar--2QeFN > * {
    margin: 0 5px;
}

.toolbar--2QeFN .group--3O2de {
    display: flex;
    align-items: center;
}

.toolbar--2QeFN .group--3O2de > * {
    margin: 0 5px;
}

.content--12qtr {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.renderer--2XATY {
    flex: 1;
}

.main--1VOD0 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.toolbar--3rwL7 {
    margin: 10px;
}

.renderer--3bGtq {
    flex: 1;
}

.main--2ZOt8 {
    display: flex;
    padding-top: 10px;
    overflow: hidden;
}

.main--2ZOt8 > .ant-tabs {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main--2ZOt8 > .ant-tabs > .ant-tabs-content {
    flex: 1;
    overflow: hidden;
}

.main--2ZOt8 > .ant-tabs > .ant-tabs-content > .ant-tabs-tabpane-active {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

