.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.toolbar {
    display: flex;
    padding: 10px 5px;
    align-items: center;
}

.toolbar > * {
    margin: 0 5px;
}

.toolbar .group {
    display: flex;
    align-items: center;
}

.toolbar .group > * {
    margin: 0 5px;
}

.content {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.renderer {
    flex: 1;
}
