:root {
    --red-circle-svg: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 4c.367 0 .721.048 1.063.145a3.943 3.943 0 0 1 1.762 1.031 3.944 3.944 0 0 1 1.03 1.762c.097.34.145.695.145 1.062 0 .367-.048.721-.145 1.063a3.94 3.94 0 0 1-1.03 1.765 4.017 4.017 0 0 1-1.762 1.031C8.72 11.953 8.367 12 8 12s-.721-.047-1.063-.14a4.056 4.056 0 0 1-1.765-1.032A4.055 4.055 0 0 1 4.14 9.062 3.992 3.992 0 0 1 4 8c0-.367.047-.721.14-1.063.097-.34.232-.658.407-.953A4.089 4.089 0 0 1 5.98 4.546a3.94 3.94 0 0 1 .957-.401A3.89 3.89 0 0 1 8 4z' fill='%23E51400'/%3E%3C/svg%3E") 50% no-repeat;
}

.monaco-editor .margin-view-overlays > div:after {
    cursor: pointer;
    content: "";
    position: absolute;
    left: 0;
    /* width of parent - width of icon */
    right: 50px;
    top: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0.5;
    background: var(--red-circle-svg);
}

.monaco-editor .margin-view-overlays > div:hover:after {
    visibility: visible;
}

.quest_editor_AsmEditorView_breakpoint-enabled {
    /* a red circle */
    background: var(--red-circle-svg);
}

.quest_editor_AsmEditorView_execution-location {
    background: hsla(80, 100%, 60%, 0.3);
}
