.quest_editor_EntityListView {
    overflow: auto;
}

.quest_editor_EntityListView_entity_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    justify-content: center;
}

.quest_editor_EntityListView_entity {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
}
