.quest_editor_EntityInfoView {
    outline: none;
    box-sizing: border-box;
    padding: 3px;
    overflow: auto;
}

.quest_editor_EntityInfoView table {
    table-layout: fixed;
    user-select: text;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.quest_editor_EntityInfoView th {
    width: 80px;
    text-align: left;
}

.quest_editor_EntityInfoView td {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.quest_editor_EntityInfoView th.quest_editor_EntityInfoView_coord {
    padding-left: 10px;
}
