.quest_editor_EventSubGraphView {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.quest_editor_EventSubGraphView_edge_container {
    position: absolute;
}

.quest_editor_EventSubGraphView_edge {
    box-sizing: border-box;
    position: absolute;
    border-left: solid 2px var(--border-color);
    border-top: solid 2px var(--border-color);
    border-bottom: solid 2px var(--border-color);
}
