.quest_editor_EventsView {
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.quest_editor_EventsView_container {
    flex: 1;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    padding: 4px;
}

.quest_editor_EventsView_dag {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.quest_editor_EventsView_event {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 12px;
    border: var(--border);
    margin: 4px;
    background-color: hsl(0, 0%, 17%);
}

.quest_editor_EventsView_event th {
    text-align: left;
}

.quest_editor_EventsView_edge_container {
    position: absolute;
}

.quest_editor_EventsView_edge {
    box-sizing: border-box;
    position: absolute;
    border-left: solid 2px var(--border-color);
    border-top: solid 2px var(--border-color);
    border-bottom: solid 2px var(--border-color);
}
