.quest_editor_EventView {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 8px;
    border: var(--border);
    margin: 4px;
    background-color: hsl(0, 0%, 17%);
    outline: none;
}

.quest_editor_EventView:hover {
    border-color: hsl(0, 0%, 30%);
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 85%);
}

.quest_editor_EventView.selected {
    border-color: hsl(0, 0%, 35%);
    background-color: hsl(0, 0%, 25%);
    color: hsl(0, 0%, 90%);
}

.quest_editor_EventView > table {
    min-width: 170px;
}

.quest_editor_EventView th {
    text-align: left;
}

.quest_editor_EventView_actions {
    margin-left: 4px;
}
