.quest_editor_LogView {
    display: flex;
    flex-direction: column;
    outline: none;
}

.quest_editor_LogView_list_container {
    flex: 1;
    overflow: auto;
    background-color: #181818;
    user-select: text;
}

.quest_editor_LogView_message_list {
    font-family: monospace;
    margin: 2px 0;
    cursor: text;
}

.quest_editor_LogView_message {
    display: flex;
    padding: 0 2px;
    white-space: pre;
}

.quest_editor_LogView_message > * {
    padding: 0 2px;
}

.quest_editor_LogView_message > .quest_editor_LogView_message_timestamp {
    color: var(--text-color-disabled);
}

.quest_editor_LogView_message > .quest_editor_LogView_message_contents {
    overflow-wrap: anywhere;
}

.quest_editor_LogView .quest_editor_LogView_Error_message .quest_editor_LogView_message_level {
    color: hsl(0, 80%, 50%);
}

.quest_editor_LogView .quest_editor_LogView_Warning_message .quest_editor_LogView_message_level {
    color: hsl(30, 80%, 50%);
}
