.quest_editor_QuestEditorToolBarView_save_as_dialog_content {
    display: grid;
    grid-template-columns: 100px max-content;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    align-items: center;
}

.quest_editor_QuestEditorToolBarView_save_as_dialog_content .core_Input {
    margin: 1px;
}
