.quest_editor_RegistersView {
    display: flex;
    flex-direction: column;
}

.quest_editor_RegistersView_container {
    overflow: auto;
    flex: 1;
}

.quest_editor_RegistersView_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 80px);
    justify-content: center;
    /* One pixel extra padding-top because .quest_editor_RegistersView_register has -1px margin-top. */
    padding: 7px 6px 6px 6px;
}

.quest_editor_RegistersView_register {
    display: flex;
    align-items: baseline;
    margin-top: -1px;
}

.quest_editor_RegistersView_register > .core_Label {
    box-sizing: border-box;
    font-family: monospace;
    width: 50%;
    padding-right: 1px;
    text-align: right;
}

.quest_editor_RegistersView_register .quest_editor_RegistersView_value {
    width: 50%;
}

.quest_editor_RegistersView_register .quest_editor_RegistersView_value > .core_TextInput_inner {
    text-align: right;
    font-family: monospace;
}
