.viewer_Model3DView_container {
    display: flex;
    flex-direction: row;
}

.viewer_ModelSelectListView {
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
}

.viewer_ModelSelectListView li {
    padding: 4px 8px;
}

.viewer_ModelSelectListView li:hover {
    color: hsl(0, 0%, 90%);
    background-color: hsl(0, 0%, 18%);
}

.viewer_ModelSelectListView li.active {
    color: hsl(0, 0%, 90%);
    background-color: hsl(0, 0%, 21%);
}
