.ApplicationComponent {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

div.ApplicationComponent .ApplicationComponent-heading {
    font-size: 22px;
}

.ApplicationComponent-beta {
    color: #f55656;
    font-weight: bold;
    margin-left: 2;
}

.ApplicationComponent-main {
    flex: 1;
    display: flex;
    align-items: stretch;
    overflow: hidden;
}

.ApplicationComponent-main>* {
    flex: 1;
}

.ApplicationComponent-error {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ApplicationComponent-error > div {
    width: 300px;
    margin-top: 30px;
}