@import "./theme.less";

.DataTable > * {
    border: solid 1px @border-color-base;
    background-color: lighten(@component-background, 3%);
    
    & * {
        scrollbar-color: @table-scrollbar-thumb-color @table-scrollbar-color;
    }

    & ::-webkit-scrollbar {
        background-color: @table-scrollbar-color;
    }

    & ::-webkit-scrollbar-track {
        background-color: @table-scrollbar-color;
    }

    & ::-webkit-scrollbar-thumb {
        background-color: @table-scrollbar-thumb-color;
    }

    & ::-webkit-scrollbar-corner {
        background-color: @table-scrollbar-color;
    }
}

.DataTable-header {
    background-color: lighten(@component-background, 12%);
    font-weight: bold;

    & .DataTable-cell {
        border-right: solid 1px @border-color-base;
    }
}

.DataTable-cell {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 5px;
    border-bottom: solid 1px @border-color-base;
    border-right: solid 1px darken(@border-color-base, 11%);

    & > span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    &.last-in-row {
        border-right: solid 1px @border-color-base;
    }

    &.number {
        justify-content: flex-end;
    }

    &.footer-cell {
        font-weight: bold;
    }
}

.DataTable-no-result {
    margin: 20px;
    color: @text-color-secondary;
}