@scrollbar-color: darken(@component-background, 3%);
@scrollbar-thumb-color: lighten(@component-background, 3%);

@table-scrollbar-color: lighten(@scrollbar-color, 1%);
@table-scrollbar-thumb-color: lighten(@scrollbar-thumb-color, 5%);

#phantasmal-world-root {
    & .lm_header {
        background: darken(@component-background, 5%);
    }

    & .lm_goldenlayout {
        background: darken(@component-background, 5%);
    }

    & .lm_content {
        background: @component-background;
    }

    & .lm_tab {
        background: darken(@component-background, 5%);
        box-shadow: none;

        &.lm_active {
            background: @component-background;
        }
    }
}
