.qe-QuestInfoComponent {
    height: 100%;
    width: 100%;
    padding: 2px 10px 10px 10px;
    display: flex;
    flex-direction: column;
}

.qe-QuestInfoComponent table {
    border-collapse: collapse;
    width: 100%;
}

.qe-QuestInfoComponent table tbody th {
    text-align: right;
    padding-right: 5px;
}

.qe-QuestInfoComponent pre {
    padding: 8px;
    border: solid 1px hsl(200, 10%, 30%);
    margin: 4px 0;
}

.qe-QuestInfoComponent-npc-counts-container {
    overflow: auto;
}