.qe-QuestEditorComponent {
    display: flex;
    flex-direction: column;
}

.qe-QuestEditorComponent-main {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.qe-QuestEditorComponent-main > div:nth-child(2) {
    flex: 1;
}