.viewer_model_CharacterClassSelectionView {
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
}

.viewer_model_CharacterClassSelectionView li {
    padding: 4px 8px;
}

.viewer_model_CharacterClassSelectionView li:hover {
    color: hsl(0, 0%, 90%);
    background-color: hsl(0, 0%, 18%);
}

.viewer_model_CharacterClassSelectionView li.active {
    color: hsl(0, 0%, 90%);
    background-color: hsl(0, 0%, 21%);
}
