.main {
    /*
    position: relative; necessary to avoid background and border disappearing while antd animates
    dropdowns in Chrome. No idea why this prevents it...
    */
    position: relative;
    border: solid 1px var(--table-border-color);
    background-color: var(--foreground-color);
}

.main * {
    scrollbar-color: var(--table-scrollbar-thumb-color) var(--table-scrollbar-color);
}

.main ::-webkit-scrollbar {
    background-color: var(--table-scrollbar-color);
}

.main ::-webkit-scrollbar-track {
    background-color: var(--table-scrollbar-color);
}

.main ::-webkit-scrollbar-thumb {
    background-color: var(--table-scrollbar-thumb-color);
}

.main ::-webkit-scrollbar-corner {
    background-color: var(--table-scrollbar-color);
}

.header {
    user-select: none;
    background-color: hsl(0, 0%, 32%);
    font-weight: bold;
}

.header .cell {
    border-right: solid 1px var(--table-border-color);
}

.header .cell.sortable {
    cursor: pointer;
}

.header .cell .sort_indictator {
    fill: currentColor;
}

.cell {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 5px;
    border-bottom: solid 1px var(--table-border-color);
    border-right: solid 1px hsl(0, 0%, 29%);
}

.cell.last_in_row {
    border-right: solid 1px var(--table-border-color);
}

.cell:global(.number) {
    justify-content: flex-end;
}

.cell.footer_cell {
    font-weight: bold;
}

.cell.custom {
    padding: 0;
}

.cell > .cell_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cell > :global(.ant-time-picker) {
    /* Cover the default borders. */
    margin: -1px;
    height: calc(100% + 2px);
}

/* Make sure the glowing border is entirely visible. */
.cell > :global(.ant-time-picker):hover {
    z-index: 10;
}

.cell > :global(.ant-time-picker) input {
    height: 100%;
}

.no_result {
    margin: 20px;
    color: var(--text-color-disabled);
}
