.main {
    height: 100%;
    width: 100%;
    padding: 2px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.main table {
    border-collapse: collapse;
    width: 100%;
}

.main textarea {
    font-family: 'Courier New', Courier, monospace
}
