.application_NavigationButton input {
    display: none;
}

.application_NavigationButton label {
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    height: 100%;
    padding: 0 20px;
    color: hsl(0, 0%, 65%);
}

.application_NavigationButton label:hover {
    color: hsl(0, 0%, 85%);
    background-color: hsl(0, 0%, 12%);
}

.application_NavigationButton input:checked + label {
    color: hsl(0, 0%, 85%);
    background-color: var(--bg-color);
}
