.application_NavigationView {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: hsl(0, 0%, 10%);
    border-bottom: solid 2px var(--bg-color);
}
