.qe-QuestEditorComponent {
    display: flex;
    flex-direction: column;
}

.qe-QuestEditorComponent-toolbar {
    display: flex;
    padding: 10px 5px;
}

.qe-QuestEditorComponent-toolbar > * {
    margin: 0 5px;
}

.qe-QuestEditorComponent-main {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.qe-QuestEditorComponent-main div:nth-child(2) {
    flex: 1;
}