.main {
    margin: 0 10px;
}

.main > ul {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    list-style-type: none;
}

.main > ul > li {
    cursor: pointer;
    padding: 2px 5px;
    white-space: nowrap;
}

.main > ul > li.selected {
    color: var(--hover-color);
}

.main > ul > li:hover {
    color: var(--hover-color);
}
