:root {
    --bg-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 80%);
    --text-color-disabled: hsl(0, 0%, 55%);
    --border-color: hsl(0, 0%, 25%);

    --scrollbar-color: hsl(0, 0%, 13%);
    --scrollbar-thumb-color: hsl(0, 0%, 17%);
}

* {
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-color);
}

::-webkit-scrollbar {
    background-color: var(--scrollbar-color);
}

::-webkit-scrollbar-track {
    background-color: var(--scrollbar-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
}

::-webkit-scrollbar-corner {
    background-color: var(--scrollbar-color);
}

body {
    cursor: default;
    user-select: none;
    overflow: hidden;
    margin: 0;
    font-size: 15px;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica,
        Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}
