.core_ComboBox {
    box-sizing: border-box;
    position: relative;
}

.core_ComboBox_inner {
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.core_ComboBox_inner input {
    flex: 1;
    padding: 0;
    border: none;
    margin: 0;
    color: var(--input-text-color);
    background-color: transparent;
    outline: none;
}

.core_ComboBox.disabled input {
    color: var(--input-text-color-disabled);
}

.core_ComboBox .core_Menu {
    top: 23px;
    left: -2px;
    min-width: calc(100% + 4px);
}

.core_ComboBox_button {
    padding: 0 2px;
}
