.core_Dialog {
    z-index: 20;
    display: flex;
    flex-direction: column;
    outline: none;
    position: fixed;
    background-color: var(--bg-color);
    border: var(--border);
    padding: 10px;
    box-shadow: black 0 0 10px -2px;
}

.core_Dialog:focus-within {
    border: var(--border-focus);
}

.core_Dialog h1 {
    font-size: 20px;
    margin: 0 0 10px 0;
    padding-bottom: 4px;
    border-bottom: var(--border);
}

.core_Dialog_description {
    user-select: text;
    cursor: text;
}

.core_Dialog_body {
    flex: 1;
    margin: 4px 0;
}

.core_Dialog_footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.core_Dialog_footer > * {
    margin-left: 2px;
}

.core_Dialog_modal_overlay {
    outline: none;
    z-index: 10;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 50%;
    backdrop-filter: blur(5px);
}
