.core_Menu {
    z-index: 1000;
    position: absolute;
    box-sizing: border-box;
    outline: none;
    border: var(--control-border);
    --scrollbar-color: hsl(0, 0%, 18%);
    --scrollbar-thumb-color: hsl(0, 0%, 22%);
}

.core_Menu > .core_Menu_inner {
    overflow: auto;
    background-color: var(--control-bg-color);
    max-height: 500px;
    border: var(--control-inner-border);
}

.core_Menu > .core_Menu_inner > * {
    padding: 4px 8px;
    white-space: nowrap;
}

.core_Menu > .core_Menu_inner > .core_Menu_hovered {
    background-color: var(--control-bg-color-hover);
    color: var(--control-text-color-hover);
}
