.core_ResultPopup {
    display: flex;
    flex-direction: column;
    outline: none;
    position: fixed;
    background-color: var(--bg-color);
    border: var(--border);
    padding: 10px;
    box-shadow: black 0 0 10px -2px;
}

.core_ResultPopup:focus-within {
    border: var(--border-focus);
}

.core_ResultPopup h1 {
    font-size: 20px;
    margin: 0 0 10px 0;
    padding-bottom: 4px;
    border-bottom: var(--border);
}

.core_ResultPopup_description {
    user-select: text;
    cursor: text;
}

.core_ResultPopup_body {
    user-select: text;
    overflow: auto;
    margin: 4px 0;
}

.core_ResultPopup_body ul {
    cursor: text;
}

.core_ResultPopup_footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
