.core_Select {
    position: relative;
    display: inline-flex;
    width: 160px;
}

.core_Select .core_Button {
    flex: 1;
}

.core_Select .core_Menu {
    top: 25px;
    left: 0;
    min-width: 100%;
}
