.core_TabContainer_Bar {
    box-sizing: border-box;
    padding: 3px 3px 0 3px;
    border-bottom: var(--border);
}

.core_TabContainer_Tab {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    height: calc(100% + 1px);
    padding: 0 10px;
    border: var(--border);
    margin: 0 1px -1px 1px;
    background-color: hsl(0, 0%, 12%);
    color: hsl(0, 0%, 75%);
    font-size: 13px;
}

.core_TabContainer_Tab:hover {
    background-color: hsl(0, 0%, 18%);
    color: hsl(0, 0%, 85%);
}

.core_TabContainer_Tab.active {
    background-color: var(--bg-color);
    color: hsl(0, 0%, 90%);
    border-bottom-color: var(--bg-color);
}
