.ho-HuntOptimizerComponent {
    display: flex;
    align-items: stretch;
    overflow: hidden;
    margin-top: 10px;
}

.ho-HuntOptimizerComponent > .ant-tabs {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.ho-HuntOptimizerComponent > .ant-tabs > .ant-tabs-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.ho-HuntOptimizerComponent > .ant-tabs > .ant-tabs-content > .ant-tabs-tabpane-active {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
